html {
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.lastResult {
  color: white;
  padding: 7px;
}
input{
    color: pink;
    background-color:green;
}

.guesses {
  color: white;
  padding: 7px;
}

.button {
  background-color: #141414;
  color: goldenrod;

  width: 50px;
  height: 0px;
  border-radius: 25px;
  font-size: 14px;
  box-shadow: 0px 0px 16px rgba(256,256,256,0.34);
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;
  /* margin-left: 75px; */
}

#guessField {
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-radius: 2rem;
  outline: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #7a7a7a;
}


#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 550px;
  height: 600px;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
  box-shadow: 0px 0px 20px rgba(256,256,256,0.34);
}

h1 {
  background-color: #161616;

  color: #fff;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
